server:
  port: 3978
bot:
  roles:
    operators: Krisztián Zaja,Lee Gu
    developers: Adele Vance
    qa: Lynne Robbins
    business: Megan Bowen
  feature:
    deploy:
      default-branches: develop,release/12.0.0,release/11.0.0
  gitlab:
    access-token: [$GITLAB_ACCESS_TOKEN]
    project-path: [$GITLAB_COMPANY/PROJECT/SUBPROJECT/SERVICE with no / at the end]